# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.env

# Spark & Java
*.jar
checkpoint/

# IDE settings (VS Code, JetBrains)
.vscode/
.idea/

# Project Data (NEVER push the actual Lakehouse data)
data/
logs/

# Mac OS junk
.DS_Store

# Misc Notes
logs.txt